nav {
  background-color: whitesmoke;
  text-align: center;
  padding: 10px 0px;
}
.card {
  background-color: rgb(53, 47, 47);
  min-height: 400px;
  max-width: 300px;
  margin: 0px auto;
  display: flex;

  justify-content: center;
  color: aliceblue;
}
.search_form {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search_form > input {
  padding: 5px;
  margin-right: 5px;
  border-radius: 25px;
  border: none;
  outline: none;
}
.btn_search {
  padding: 5px 8px;
  margin-right: 5px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}
.user_display {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user_display > img {
  padding-top: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.git_profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}
.git_profile > span {
  margin: 5px;
}
.repo_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.repo_list > h1 {
  background-color: rgb(97, 100, 99);
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.repos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.repos > h4 {
  background-color: darkslategrey;
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
  text-align: center;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
}
.repos > h4 > span {
  color: rgb(174, 204, 38);
}
