@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  nav,
  body {
    font-family: "Poppins", sans-serif;
  }
  .nav_btn {
    background: #fff;
    color: #6413ba;
    padding: 3px 11px;
    margin: 6px 0px;
    border-radius: 12px;
    font-size: 14px;
  }
  .link_hover:hover {
    font-weight: 700;
  }

  .card_btn:hover {
    background: purple !important;
  }
}
